
body {
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
    color: gray;
}

h1 {
    color: pink;
    font-size: 80px;
    margin-bottom: 20;
    margin-top: 10;

}
h3 {
    color: gray;
    font-size: 18px;
    margin-bottom: 2;
    margin-top: 0;
}



.header-elements { 
    font-size: 15px;
    line-height: 50px;

  }

  sub {
    display: block;
    line-height: 0;
    padding-bottom: 10px;
}

a:link {
    color:pink;
    text-decoration: none;
}
a:visited {
    color:pink;
}

.artwork {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 10px;
}


.links {
    align-self: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
}

.link-box {
    margin: 0px 0px auto;
    padding: 0px;
    line-height: 20px;
    p {
        margin: 10px;
    }
}


.separator {
    align-self: center; 
    width: 80%;
    height: 3px;
    background-color: pink;
    margin: 10px auto;
}

#pic-me {
    margin-top: 10px;
}

.mini-about {
    align-self: center;
    width: 80%;
    margin: 10px auto;
    line-height: 30px;
}

#intro {
    align-self: center;
    align-items: center;
}

#about-header {
    margin: 100px;
}

.buttons {
    font-size: 30px;
    align-self: center;
    display: flex; 
    align-items: center; 
    gap: 20px; 
    justify-content: center; 
}

button {
    align-self: center;
    font-size: 30px;
    height: 70px;
    border: 2px solid pink;
    color: pink;
    background-color: white;
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center center;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    background-color: pink;
    border-color: white;
    color: white;
}

