

body {
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
    color: gray;
}

h1 {
    color: pink;
    font-size: 100px;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 40px;
    
}
h3 {
    color: gray;
    font-size: 18px;
    margin-top: 50px;
    line-height: 18px;
}


.separator {
    align-self: center; 
    width: 90%;
    height: 3px;
    background-color: pink;
    margin: 20px auto;
}

.container {
    display: flex;
    gap: 10px; 
}

.row-subimg {
    height: 70vh;
    width: auto;
    object-fit: cover; 
    padding: 20px;
}

.col-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
}

.col-subimg {
    height: 35vh;
    max-height: 100%;
    width: auto;
    max-width: 100%; 
    object-fit: cover;
}

.img-description {
    display: flex;
    align-items: flex-end;
    width: 45vw;
    height: 60vh;
    padding: 30px;
    text-align: left;

}

.row {
    display: flex;
    flex-direction: row;
}
#row1 {
    justify-content: flex-start; /* Aligns content to the left */
}
#row2 {
    align-items: center;
    justify-content: flex-end; /* Aligns content to the left */
    margin-right: 5vw;
    margin-left: 5vw;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 70vh;
    width: 35vw;
    max-width: 100%;
}

#backgrounds {
    width: 100vw;

}
.grid-subimg {
    width: 25vw;
    height: auto;
    padding: 20px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#col2 {
    width: 20vw;
    height: auto;
    padding: 20px;
}

a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color: gray;
}

.home-button {
    font-size: 30px;
    position: fixed;
    top: 20px;
    left: 30px;  
}

.row-across {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
}

.across-subimg{
    flex: 1;
    max-width: 30%; 
    height: auto; 
    object-fit: contain; 
    padding: 10px;
    margin: 10px;
}

#img-description {
    text-align: center;
    width: 100vw;
}

.animation-vids {
    width: 80vw;
    align-self: center;

}



